[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adbutils = "==1.0.8"
apkutils2 = "==1.0.0"
certifi = "==2022.9.24"
charset-normalizer = "==2.1.1"
cigam = "==0.0.3"
decorator = "==5.1.1"
deprecation = "==2.1.0"
idna = "==3.4"
packaging = "==21.3"
pillow = "==9.2.0"
py = "==1.11.0"
pyelftools = "==0.29"
pyparsing = "==3.0.9"
requests = "==2.28.1"
retry = "==0.9.2"
urllib3 = "==1.26.12"
whichcraft = "==0.6.1"
xmltodict = "==0.13.0"

[dev-packages]

[requires]
python_version = "3.10"
